<h4><strong>Amalia Nurul Hidayah, SE.</strong></h4>
<h5>
  Amalia Nurul Hidayah, lebih dikenal dengan panggilan amel, lahir di jakarta 28 februari 1994. Amel adalah mahasiswi program magister jurusan manajemen sistem informasi akuntansi Universitas Gunadarma. Saat ini amel sedang mengikuti program beausiswa SarMag (Sarjana Magister) Universitas Gunadarma.
</h5>
<hr>
<h4><strong>Anyssa Riyan Puteri, SE.</strong></h4>
<h5>
  Anyssa Riyan Puteri, lebih dikenal dengan panggilan anyssa, lahir di jakarta 10 november 1994. Ayssa adalah mahasiswi program magister jurusan manajemen sistem informasi akuntansi Universitas Gunadarma. Saat ini anyssa sedang mengikuti program beausiswa SarMag (Sarjana Magister) Universitas Gunadarma.
</h5>
