<div class="center jumbotron">
  <h2>
    <strong>
      Matahari Market Development Program 2.0
    </strong>
     <br>(づ｡◕‿‿◕｡)づ</h2>
  <br>
<p>
Matahari Market Development Program 2.0 adalah sistem pakar yang diharapkan mampu membantu para user dari divisi marketing dalam menentukan metode peramalan permintaan dan petunjuk penggunaannya
<p>
  <%= link_to "Mulai!", new_mataharinya_path, class: "btn btn-lg btn-danger" %>
</div>

<div class="container-fluid">
  <img class="center-block" src="http://i.imgur.com/1RvX3rA.png" alt="Logo" />
</div>
