<h1>METODE PROYEKSI TREN</h1>
<hr>
<h3>-Metode peramalan permintaan terpilih: Metode Proyeksi Tren-</h3>
<p>
  Metode ini, merupakan bagian dari metode statistik (kuantitatif) <em>time series</em>.
  Metode proyeksi tren dengan regresi, merupakan metode yang dignakan baik untuk
  jangka pendek maupun jangka panjang. Metode proyeksi tren ini merupakan metode
  yang paling sederhana dibanding dengan metode lainnya. Karena di dalam metode
  ini hanya menarik secara garis lurus sesuai dengan kecenderungan data <em>time series</em> yang ada.
</p>
<p>
  Jika data <em>time series</em> yang dijadikan pijakan dalam menarik garis lurus ini ada
  kecenderungan meningkat, maka garis lurus yang ditarik cenderung naik sesuai
  dengan kecenderungan peningkatan yang terjadi atau akan terjadi. Jika sebaliknya
  maka cenderung juga sebaliknya dalam menarik garis lurus yang akan ditarik.
  Tergantung dari kecenderungan atau <em>trend</em> yang akan diikuti naik atau turunnya.

</p>
<img class="center-block" src="http://i.imgur.com/E3GhKce.jpg"/>

<p>
  Contoh:
</p>

<p>
  Pedoman rumus yang dipakai dalam menarik garis lurus ini adalah formula berikut ini:
</p>

<p>
  <math><mi>S</mi><mi>t</mi><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mi>S</mi><mi>o</mi><mo>&#xA0;</mo><mo>+</mo><mo>&#xA0;</mo><mi>b</mi><mi>t</mi></math>
</p>

<p>
  Dimana <math><mi>S</mi><mi>t</mi></math> merupakan nilai variabel yang akan diramal pada periode <math><mi>t</mi></math>. So adalah
  merupakan nilai estimasi dari time series (nilai konstanta dari fungsi <em>forecast</em>)
  pada tahun dasar. Dan <math><mi>b</mi></math> merupakan koefisien kecenderungan kemiringan garis
  ramalan yang akan ditarik, atau angka absolut pertumbuhan atau penurunan per
  periode. Dan <math><mi>t</mi></math> merupakan lama waktu dimana <em>time series</em> dalam periode yang
  diramalkan. Sebagai ilustrasi dapat dicontohkan data kwartalan sebagai berikut:
</p>
<br>
<p class="text-center">
  <strong>
    Tabel 1 Permintaan Produk Nevada di PT.Matahari, Dept Store <br>
    (dalam ribuan unit)
  </strong>
</p>

<img class="center-block" src="http://i.imgur.com/CcTeXhZ.png"/> <br>

<p>
  Berdasarkan data dalam contoh di atas, maka dapat kita susun tabel yang akan menunjukkan secara berurutan kecenderungan volume permintaan sejak 2012 sampai dengan tahun 2015. Data dalam tabel 1 dapat disusun sebagai berikut dalam tabel 2.
</p>

<br>
<p class="text-center">
  <strong>
    Tabel 2 <br>
    Permintaan Produk Nevada di PT.Matahari, Dept Store 2012– 2015 <br>
    (dalam ribuan unit)
  </strong>

</p>

<img class="center-block" src="http://i.imgur.com/uM4BOzv.png"/> <br>

<p>
  sebagai tahun dasar adalah tahun 2012 kwartal 1 bernilai <math><mn>11</mn></math>.
  <math><mi>b</mi><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mn>92</mn><mo>,</mo><mn>5</mn><mo>&#xA0;</mo><mo>/</mo><mo>&#xA0;</mo><mn>15</mn><mo>&#xA0;</mo><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mn>6</mn><mo>,</mo><mn>1666</mn><mo>&#xA0;</mo><mo>%</mo></math>
  atau <math><mo>=</mo><mo>&#xA0;</mo><mn>0</mn><mo>,</mo><mn>06166</mn></math>
  Sehingga forecasting ke depan dapat diikhtisarkan sebagai berikut:
</p>

<br>
<p class="text-center">
  <strong>
    Tabel 3 <br>
    Ikhtisar prediksi volume permintaan tahun 2016
  </strong>
</p>

<img class="center-block" src="http://i.imgur.com/oG0nT6L.png"/> <br>

<p>
  Meramalkan dengan metode seperti ini sangat mudah dan bersifat sembarang garis yang ditarik.
</p>
